body{
    background: url(https://s3.ap-southeast-1.amazonaws.com/we-xpats.com/uploads/article/Guide_ja_483_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.weather-box{
    border: 3px solid gray;
    padding: 150px;
    border-radius: 30px;
    background-color: lightgray;
}